@layer base {
  body {
    @apply min-w-[320px] font-text font-light leading-normal text-black antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .btn-black-hover {
    background: radial-gradient(
        90.75% 100% at 50% 100%,
        rgba(255, 238, 153, 0.18) 0%,
        rgba(255, 238, 153, 0) 100%
      ),
      #242424;
  }
}

@layer components {
  .with-primary-blue-link {
    a {
      @apply relative font-semibold transition-colors duration-200 after:absolute after:-bottom-1 after:left-0 after:h-0.5 after:w-full after:bg-secondary-blue after:ease-in-out hover:text-secondary-blue;
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
