$tablet: "screen and (max-width : 900px)";

.news-title {
  max-width: 1015px;
  margin: 92px auto 0;
  padding: 0 40px;
  font-size: 46px;

  @media #{$tablet} {
    font-size: 38px;
  }
}

main {margin-bottom: 0}

.blog {
  border-top: 1px solid #e6e6e6;
}

.blog-posts {
  max-width: 1216px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 230px;

  @media (max-width: 1279px) {
    flex-direction: column;
  }

  .blog-post-card {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.posts-wrapper {
  max-width: 968px;
  border-left: 1px solid #e6e6e6;
  padding: 64px 0 112px 64px;

  @media (max-width: 1279px) {
    border: none;
    padding-left: 0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  } 
}

.categories-wrapper {
  max-width: 246px;
  padding-top: 64px;
  padding-right: 102px;

  @media (max-width: 1279px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
    padding-right: 0;
  } 

  .categories-item-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: 1279px) {
      flex-direction: row;
      row-gap: 12px;
      column-gap: 12px;
    } 
  }

  .categories-item {
    list-style: none;
    margin-left: 0;
    margin-top: 22px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      .categories-icon {
        color: #1a1a1a;
      }
      .categories-button {
        color: #1a1a1a;
      }
    }

    @media (max-width: 1279px) {
      margin-top: 0;
      margin-left: 0;
    } 

    .categories-icon {
      color: #808080;
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    }

    .categories-button {
      all: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666666;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;

      span {
        margin-left: 6px;
      }
    }

    .active-category {
      color: #1a1a1a;
    }
  }
}

.posts-heading, .categories-heading {
  color: #808080;
  text-transform: uppercase;
  font-size: 14px; 
  line-height: 1.375;
  margin: 0 0 24px 0;
  font-weight: 500;
  letter-spacing: 0.03em;
 }
 
.post-image {
  width: auto;
  max-width: 320px;
  height: 100%;
  object-fit: cover;

  @media (max-width: 1023px) {
    max-width: 400px;
    height: auto;
  }

  @media (max-width: 639px) {
    max-width: 100%;
    height: auto;
  }
}

.links-container {
  max-width: 1015px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background: linear-gradient(87.89deg, #e69d00 0%, #e6b000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: #1a1a1a;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;

    &:hover {
      color: #ffffff00;
    }
  }
}


.blog-post {
  max-width: 1015px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 32px;
  word-wrap: break-word;
  position: relative;
}

.blog-post-card {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  display: flex;
  overflow: hidden;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }
}

.blog-post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
  width: 100%;
  min-height: 230px;
  align-self: stretch;
  padding: 32px 32px 32px 0;

  @media (max-width: 1279px) {
    max-width: 500px;

  }

  @media (max-width: 1023px) {
    padding: 32px;
    margin-left: 0;
    margin-top: 16px;
    max-width: 100%;
    min-height: 0;
  }
}

.blog-post-card {
  padding: 0;
  width: 100%;
  word-wrap: break-word;
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 1279px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  } 
}

.blog-post-card, .blog-post {
  table {
    border-collapse: collapse;
    td {
      border: 1px solid grey;
      padding: 4px 8px;
    }
  }

  .blog-post-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;

    @media (max-width: 797px) {
      margin-top: 28px;
    }

    @media (max-width: 639px) {
      margin-top: 24px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .blog-title + .blog-categories-and-date {
    margin-top: 16px;
  }

  .blog-categories-and-date {
    display: flex;
    align-items: center;

    @media (max-width: 639px) {
      margin-top: 20px;
      align-self: flex-end;
    }

    @media (max-width: 413px) {
      flex-direction: column;
      margin-top: 24px;
      align-items: flex-end;
    }

    .blog-post-categories {
      margin-left: 20px;
      display: flex;
      align-items: center;

      @media (max-width: 413px) {
        margin-top: 12px;
      }

      .blog-post-category {
        margin-right: 10px;
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        display: inline-block;
        padding: 10px 12px;
        border-radius: 18px;
        color: #999999;
        background-color: #f7f7f7;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .twitter-tweet {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .blog-share-buttons {
      position: -webkit-sticky;
      position: sticky;
      top: 25px;
      margin-left: -80px;
      margin-right: 30px;
      margin-bottom: -50px;

      .twitter-icon {
        cursor: pointer;
        svg {
          fill: #999999;
          transition: all 0.3s ease-in-out;
          display: inline-block;
        }
        border-radius: 50px;
        width: 50px;
        height: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: 1px solid #999999;
        transition: all 0.3s ease-in-out;

        &:hover {
          svg {
            fill: #333;
          }
          border: 1px solid #333;
        }
      }
    }

    .blog-meta {
      font-size: 12px;
      line-height: 24px;

      .blog-date {
        font-weight: 500;
        font-size: 15px;
        line-height: 1;
        color: #999999;
      }
    }

    .blog-date {
      font-size: 15px;
      line-height: 1;
      font-weight: 500;
      color: #999999;
    }
  }

  .blog-title-link {
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
  }

  .blog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    max-width: 540px;
    font-size: 26px;
    line-height: 1.375;
    font-weight: 600;
    margin: 0 !important;
    background: linear-gradient(87.89deg, #e69d00 0%, #e6b000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: #1a1a1a;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;

    &:hover {
      color: #ffffff00;
    }

    @media (max-width: 1023px) {
      font-size: 24px;
      max-width: 100%;
    }

    @media (max-width: 639px) {
      font-size: 20px;
    }

    a {
      text-decoration: none;
      vertical-align: middle;
      color: #000;

      &:hover {
        color: #5f4b0f;
      }
    }

    & > img {
      width: auto;
      margin-right: 14px;
      vertical-align: middle;
    }

    @media #{$tablet} {
      font-size: 22px;
    }
  }

  .blog-link {
    text-decoration: none;
    font-weight: 500;
    background: linear-gradient(87.89deg, #faab00 0%, #ebbc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    &:hover {
      background: linear-gradient(87.89deg, #e69d00 0%, #e6b000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      .link-triangle {
        background-color: #ebc400;
      }
    }

    .link-triangle {
      width: 6px;
      height: 9px;
      margin-left: 8px;
      background-color: #f5d400;
      -webkit-mask-image: url("../assets/link.svg");
      mask-image: url("../assets/link.svg");
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    }
  }
}

.blog-header {
  .blog-title {
    max-width: 100%;
  }
}

.blog-toc {
  margin-top: 20px;
  summary {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;

    &:hover {
      color: #5f4b0f;
    }
  }
}

.blog-post-content {
  font-size: 16px;
  line-height: 25px;
  color: #474747;

  * {
    max-width: 100%;
  }

  hr {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    border: 0;
    background: #ccc;
  }

  blockquote {
    font-style: italic;
    margin-left: 40px;
  }

  pre {
    display: block;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  hr,
  blockquote,
  pre,
  code .gatsby-highlight {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
  }

  h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
  }

  ul,
  ol {
    margin-left: 25px;

    li {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: #468cff;
    text-decoration: none;

    &:hover {
      color: rgb(102, 161, 255);
    }
  }

  code {
    background-color: #f8f8f8;
    display: inline-block;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #a04040;
    font-size: 12px;
    border-radius: 4px;
  }

  .gatsby-highlight {
    background-color: #f8f8f8;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    padding: 15px;
    padding-top: 8px;
    color: #b80000;
    margin-bottom: 20px;

    code,
    pre {
      background: none;
      border: none;
      padding: 0px;
      white-space: pre;
      display: block;
      text-align: left;
    }
  }
}

.categories-list {
  max-width: 800px;
  padding: 0 40px !important;
  margin-top: 39px !important;
  margin-bottom: 39px !important;

  li {
    list-style: outside none;
    margin-bottom: 30px;
  }

  .categories-list-title {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #8d8d8d;

    a,
    span {
      margin-left: 5px;
      margin-right: 5px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .categories-post-date {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    color: #8d8d8d;
  }

  .categories-post-title {
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        color: #333;
      }
    }
  }
}

.window {
  border-radius: 8px;
  background: #2b2b2b;
  color: #fff;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.terminal {
  font-family: monospace;
  font-size: 14px;
  color: #d2d2d2;
  margin-left: 15px;

  .command {
    white-space: nowrap;
    margin-bottom: 0;

    &:before {
      content: "$ ";
      color: #f18900;
    }
  }

  .log {
    white-space: nowrap;
    overflow: hidden;
  }
}

.blog-post {
  .blog-post-content {
    ul li {
      margin-bottom: 10px;

      p {
        margin-bottom: 5px;
      }
    }
  }
}

.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  border: 1px solid #cccccc;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f7f7f7),
    color-stop(100%, #b8b8b8)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #f7f7f7 0%,
    #b8b8b8 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #f7f7f7 0%,
    #b8b8b8 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #b8b8b8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f7f7f7",
      endColorstr="#B8B8B8",
      GradientType=0
    ); /* IE6-9 */
}
