$max-section-width: 1078;
$min-section-width: 1078;
$hero-scheme-width: 840;
$microservices-scheme-width: 1276;

$mobile: "screen and (max-width : 480px)";
$tablet: "screen and (max-width : 900px)";
$desktop: "screen and (min-width : 1280px)";

.page-wrapper img {
  width: 100%;
}

a {
  color: #e7b725;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  font-weight: 650;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
}

h1 {
  font-size: 60px;
  line-height: 73px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-size: 22px;
  line-height: 28px;
}

p,
ol,
ul {
  margin-top: 15px;
}

li {
  margin-left: 40px;
}

code {
  background-color: #f8f8f8;
  display: inline-block;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: #3e3e3e;
  font-size: 14px;
}

.introDisclaimer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  display: inline-block;
  background-color: #fff1cc;
}

.intro {
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;

  img {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    display: block;
  }
}

.toc {
  position: sticky;
  top: 0;
  width: 30%;
  height: 100vh;
  overflow: auto;
  flex-shrink: 0;
  margin-right: 40px;
  padding-top: 20px;
  list-style: none inside;
  background-color: #fff;
  font-size: 18px;
  line-height: 30px;

  .toc-item {
    margin: 0;
    padding: 0;

    &.active {
      font-weight: 600;
    }
  }
}

.main-title {
  margin: 79px 0 22px 0;
  text-align: center;
  font-size: 50px;
  line-height: 64px;
  color: #6b6b6b;
  font-weight: 600;

  @media #{$tablet} {
    font-size: 32px;
    line-height: 48px;
  }

  strong {
    color: #000000;
    font-weight: 900;
  }
}

.main-logo {
  width: 100%;
  max-width: 424.6px;
  max-height: 148px;
  display: block;
  margin: 80px auto 60px auto;
}

.main-logo-shadow {
  width: 100%;
  max-width: 356px;
  max-height: 14px;
  display: block;
  margin: 33px auto 51px auto;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    font-weight: 500;
    font-size: 28px;
    line-height: 50px;
    padding: 0 38px;
    border-radius: 4px;
    border: 3px solid #000;
    text-decoration: none;
    white-space: pre;

    @media #{$tablet} {
      font-size: 14px;
      line-height: 24px;
    }

    &.main-button {
      width: 300px;
      text-align: center;
      margin-right: 16px;
      color: #000;
      background-color: #ffd966ff;
    }
  }
}

.page-wrapper {
  max-width: 1015px;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main-sections {
  display: flex;
  margin: 0 auto;
  max-width: 1015px;
  margin-top: 75px;

  .section-logo {
    float: left;
    margin: 0;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 200px;
  }

  @media #{$tablet} {
    max-width: 640px;
    flex-direction: column;
  }

  .main-section {
    margin-bottom: 34px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .main-sections-left {
    margin-right: 75px;

    @media #{$tablet} {
      margin-right: 0px;
    }
  }
  .main-section-title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 900;
    color: #000;

    @media #{$tablet} {
      font-size: 22px;
      line-height: 28px;
    }
  }
  .main-section-text {
    margin-top: 12px;
    font-size: 20px;
    line-height: 30px;
    @media #{$tablet} {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.carousel-arrow.custom {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 80px;
  height: 100%;
  z-index: 40;
  font-size: 32px;
  font-weight: 700;
  color: #000;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0;

  &.carousel-prev {
    left: 0;
    text-align: left;
  }

  &.carousel-next {
    right: 0;
    text-align: right;
  }

  &:hover {
    color: #999;
  }
}

.videos-section {
  position: relative;
  h2 {
    margin-top: 60px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }

  h3 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;

    a {
      color: inherit;
      text-decoration-color: #999;
    }
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 80px;
    width: calc(100% - 160px);
    height: 100%;
  }
}

.blog-roll-section {
  font-size: 18px;
  line-height: 26px;

  .blog-roll-loading {
    color: #999;
    text-align: center;
  }

  h2 {
    margin-top: 60px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }

  ul,
  li {
    list-style: none outside;
  }

  ul {
    margin: 0 auto;
  }

  li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      text-decoration: none;
      color: #000;

      u {
        text-decoration-color: #ccc;
      }

      &:hover {
        color: #666;
      }

      .blog-roll-date {
        position: relative;
        top: 1px;
        min-width: 100px;
        margin-right: 10px;
        text-align: right;
        font-size: 14px;
        color: #ccc;
      }

      .blog-roll-author {
        color: #ccc;
      }

      @media #{$tablet} {
        flex-direction: column;

        .blog-roll-date {
          text-align: left;
        }
      }
    }
  }
}

.page-what-is-ebpf {
  display: flex;
  max-width: 1280px;

  .what-is-ebpf-title {
    font-size: 46px;
    line-height: 64px;
    color: #6a6767;
    font-weight: 700;
    text-align: center;
    strong {
      font-weight: 700;
      color: #000;
    }
  }
  .what-is-ebpf-description {
    font-size: 20px;
    line-height: 30px;
    color: #000;

    img {
      width: 90%;
      margin: auto;
      display: block;
    }

    table {
      margin: 15px;
    }

    th {
      background-color: lightgrey;
    }

    p {
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media #{$tablet} {
    flex-direction: column;

    .toc {
      position: static;
      overflow: auto;
      width: 100%;
      height: auto;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 40px;
    }
  }
}

.page-projects {
  .projects-title {
    margin-top: 92px;
    margin-bottom: 20px;
    font-size: 46px;
    line-height: 64px;
    font-weight: 700;

    @media #{$tablet} {
      font-size: 38px;
    }
  }

  .project-major-title {
    margin-top: 20px;
    font-size: 46px;
    font-weight: 700;

    @media #{$tablet} {
      font-size: 30px;
      flex-direction: column;

      .project-description > p:first-child {
        text-align: center;
      }
    }
  }

  .project-minor-title {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;

    @media #{$tablet} {
      font-size: 20px;
    }
  }

  .project-box {
    border: 1px solid #e2e2e2;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .project-body {
    display: flex;
    align-items: center;

    @media #{$tablet} {
      flex-direction: column;

      .project-description > p:first-child {
        text-align: center;
      }
    }
  }

  .project-logo img {
    display: block;
    width: 130px;
    margin-right: 20px;
  }

  .projects-how-to-list-title {
    margin-bottom: 36px;
    margin-top: 50px;
    font-size: 36px;
    line-height: 32px;
    font-weight: 800;
    color: #000;
  }
  .projects-how-to-list {
    font-size: 16px;
    line-height: 30px;

    li {
      margin-bottom: 11px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .projects-requirements-list-title {
    margin-top: 60px;
    margin-bottom: 36px;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    color: #000;
  }
  .projects-requirements-list {
    font-size: 16px;
    line-height: 30px;

    li {
      margin-bottom: 11px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.page-contribute {
  font-size: 20px;
  line-height: 30px;

  .contribute-title {
    margin-top: 83px;
    font-size: 46px;
    line-height: 64px;
    color: #000;
    font-weight: 700;
  }
  .contribute-section {
    display: flex;
    margin-top: 62px;

    @media #{$tablet} {
      flex-direction: column;
    }

    .contribute-section-title {
      margin-bottom: 23px;
      font-size: 26px;
      line-height: 32px;
      font-weight: 700;

      @media #{$tablet} {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .contribute-section-icon {
      flex-shrink: 0;
      @media #{$tablet} {
        display: none;
      }
    }

    .contribute-section-text {
      font-size: 20px;
      line-height: 30px;

      @media #{$tablet} {
        font-size: 16px;
        line-height: 24px;
      }

      ul {
        list-style-position: inside;
      }

      a {
        color: #554040;
        &:hover {
          color: #000;
        }
      }

      p,
      li,
      ul {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.not-found-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 64px auto;

  .not-found-http-code {
    margin-bottom: 29px;
    font-size: 54px;
    line-height: 54px;
    //font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #a1a1a1;
  }

  .not-found-title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    //font-family: Montserrat, sans-serif;
    color: #000;
  }

  .not-found-description {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #474747;
  }

  .not-found-home-button {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background-color: #0a53a5;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;

    &:hover {
      background-color: rgb(13, 101, 201);
    }
  }
}

html.smooth-scroll {
  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.summit-page-wrapper {
  --root-grid: auto minmax(0, 1280px) auto;
  --root-padding-x: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  @media (min-width: 1024px) {
    --root-padding-x: 100px;
  }
  & > .summit-info {
    grid-column: span 3;
    position: relative;
    display: grid;
    place-content: center;
    height: 68px;
    background-color: #ffe100;
    transition: .2s ease-in;
    @media (min-width: 1024px) {
      height: 64px;
    }
    &:hover {
      opacity: .8;
    }
    & > .link {
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      & > .logo {
        height: 37px;
      }
    }
  }
  & > .summit-hero {
    position: relative;
    display: grid;
    grid-template-columns: var(--root-grid);
    background-image: var(--background-image-mobile), linear-gradient(90deg, #111010 0%, #424242 100%);
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 1024px) {
      background-image: var(--background-image), linear-gradient(90deg, #111010 0%, #424242 100%);
      background-position: center;
    }
    & > .wrapper {
      grid-column: 2;
      display: grid;
      row-gap: 28px;
      align-content: center;
      padding: 50px var(--root-padding-x);
      @media (min-width: 1024px) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      & > .title {
        margin: 0;
        line-height: 42px;
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;
        @media (min-width: 1024px) {
          line-height: 84px;
          font-size: 72px;
        }
        & > .logo {
          vertical-align: bottom;
          height: 48px;
          transform: translateY(-.05em);
          @media (min-width: 1024px) {
            height: 85px;
            transform: translateY(-.1em);
          }
        }
      }
      & > .meta {
        & > .item {
          line-height: 30px;
          font-size: 18px;
          font-weight: 500;
          white-space: nowrap;
          color: #d5d5d5;
          @media (min-width: 1024px) {
            line-height: 28px;
            font-size: 24px;
          }
        }
        & > .divider {
          display: inline-block;
          margin-left: 20px;
          margin-right: 20px;
          border: none;
          width: 2px;
          height: 20px;
          background-color: #4385f5;
        }
      }
      & > .description {
        margin: 0;
        max-width: 635px;
        line-height: 30px;
        font-size: 16px;
        color: #ffffff;
        @media (min-width: 1024px) {
          line-height: 44px;
          font-size: 24px;
        }
      }
      & > .space {
        height: 150px;
        @media (min-width: 1024px) {
          display: none;
        }
      }
      & > .buttons {
        display: grid;
        row-gap: 20px;
        @media (min-width: 1024px) {
          column-gap: 25px;
          grid-auto-flow: column;
          justify-content: start;
        }
        & > .button {
          display: grid;
          place-content: center;
          height: 40px;
          line-height: 19px;
          font-size: 16px;
          font-weight: 500;
          text-decoration: none;
          border-radius: 3px;
          transition: .2s ease-in;
          cursor: pointer;
          @media (min-width: 1024px) {
            line-height: 21px;
            font-size: 18px;
          }
          &:hover {
            opacity: .8;
          }
          &.type--register {
            width: 100%;
            color: #333333;
            background-color: #ffe100;
            @media (min-width: 1024px) {
              width: 200px;
            }
          }
          &.type--join {
            width: 100%;
            color: #4385f5;
            background-color: #f0ecec;
            @media (min-width: 1024px) {
              width: 252px;
            }
          }
        }
      }
    }
  }
  & > .summit-about {
    display: grid;
    grid-template-columns: var(--root-grid);
    background-color: #f3f3f3;
    & > .wrapper {
      grid-column: 2;
      display: grid;
      row-gap: 12px;
      justify-items: center;
      align-content: center;
      padding: 50px var(--root-padding-x);
      @media (min-width: 1024px) {
        row-gap: 25px;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      & > .title {
        margin: 0;
        line-height: 35px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #333333;
        @media (min-width: 1024px) {
          line-height: 42px;
          font-size: 36px;
        }
      }
      & > .description {
        margin: 0;
        width: 100%;
        max-width: 668px;
        line-height: 30px;
        font-size: 16px;
        color: #333333;

        a {
          color: #4385F5;
        }
      }
    }
  }
  & > .summit-keynotes {
    display: grid;
    grid-template-columns: var(--root-grid);
    & > .wrapper {
      grid-column: 2;
      display: grid;
      row-gap: 34px;
      padding: 50px var(--root-padding-x);
      @media (min-width: 1024px) {
        row-gap: 38px;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      & > .title {
        margin: 0;
        line-height: 42px;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        color: #333333;
      }
      & > .list {
        --gap: 16px;
        position: relative;
        display: grid;
        gap: var(--gap);
        @media (min-width: 1024px) {
          --gap: 38px;
          grid-template-columns: repeat(6, minmax(0, 1fr));
          grid-auto-flow: dense;
        }
        & > .summit-speaker-card {
          --popup-indent: 10px;
          --grid-column-end: auto;
          --border-radius: 3px;
          @media (min-width: 1024px) {
            grid-column: span 2 / var(--grid-column-end);
            &:nth-of-type(3n+1):nth-last-of-type(1) {
              --grid-column-end: 5;
            }
            &:nth-of-type(3n+1):nth-last-of-type(2) {
              --grid-column-end: 4;
            }
          }
          & > .section {
            --height: 154px;
            --padding: 14px;
            --image-size: calc(var(--height) - var(--padding) * 2);
            position: relative;
            min-width: 0;
            display: grid;
            column-gap: 22px;
            grid-template-columns: var(--image-size) 1fr;
            align-items: center;
            height: var(--height);
            padding: var(--padding);
            background-color: #252424;
            border-radius: var(--border-radius);
            &.is-selectable {
              cursor: pointer;
              & > .avatar {
                transition: .2s ease-in;
              }
              & > .section {
                transition: .2s ease-in;
              }
              & > .corner {
                transition: .2s ease-in;
              }
              &:hover {
                & > .avatar {
                  opacity: .8;
                }
                & > .section {
                  opacity: .8;
                }
                & > .corner {
                  opacity: .8;
                }
              }
            }
            &.is-selected {
              &::before {
                content: "";
                margin-top: calc(var(--border-radius) * -1);
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                height: calc(var(--popup-indent) + var(--border-radius) * 2);
                background-color: inherit;
              }
            }
            & > .avatar {
              position: relative;
              width: var(--image-size);
              height: var(--image-size);
              &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                box-shadow: 0 0 0 1px #ffe100 inset;
              }
              & > .image {
                width: inherit;
                height: inherit;
                object-fit: cover;
                object-position: center;
              }
            }
            & > .section {
              display: grid;
              row-gap: 8px;
              & > .title {
                margin: 0;
                line-height: 20px;
                font-size: 16px;
                font-weight: 700;
                color: #ffe100;
              }
              & > .description {
                margin: 0;
                line-height: 20px;
                font-size: 14px;
                color: #ffffff;
              }
            }
            & > .corner {
              position: absolute;
              right: 8px;
              bottom: 8px;
              user-select: none;
            }
          }
          & > .popup {
            margin-top: var(--popup-indent);
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr auto;
            grid-auto-flow: dense;
            border: 3px solid #111010;
            padding: 28px;
            background-color: #ffffff;
            border-radius: var( --border-radius);
            & > .title {
              grid-column: 1;
              margin: 0;
              line-height: 24px;
              font-size: 24px;
            }
            & > .description {
              grid-column: 1;
              margin: 0;
              line-height: 24px;
              font-size: 16px;
            }
            & > .button {
              grid-column: 2;
              display: flex;
              place-items: center;
              border: none;
              background-color: transparent;
              transition: .2s ease-in;
              cursor: pointer;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
  & > .summit-agenda {
    display: grid;
    grid-template-columns: var(--root-grid);
    background-image: var(--background-image-mobile), linear-gradient(90deg, #111010 0%, #424242 100%);
    background-position: center;
    @media (min-width: 1024px) {
      background-image: var(--background-image);
      background-repeat: no-repeat;
    }
    & > .wrapper {
      grid-column: 2;
      padding: 50px var(--root-padding-x);
      @media (min-width: 1024px) {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      & > .title {
        margin: 0;
        line-height: 35px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        @media (min-width: 1024px) {
          line-height: 42px;
          font-size: 36px;
        }
      }
      & > .note {
        margin: 16px 0 0;
        line-height: 16px;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
      }
      & > .list {
        margin-top: 25px;
        position: relative;
        display: grid;
        row-gap: 45px;
        @media (min-width: 1024px) {
          margin-top: 50px;
          column-gap: 25px;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        & > .section {
          display: grid;
          row-gap: 12px;
          align-content: start;
          & > .title {
            margin: 0;
            line-height: 30px;
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
            @media (min-width: 1024px) {
              line-height: 48px;
              font-size: 24px;
            }
          }
          & > .list {
            display: grid;
            column-gap: 8px;
            row-gap: 12px;
            grid-template-columns: auto 1fr;
            & > .row {
              display: contents;
              & > .time {
                line-height: 36px;
                font-size: 16px;
                font-weight: 300;
                font-variant-numeric: proportional-nums;
                color: #ffe100;
                @media (min-width: 1024px) {
                  font-size: 18px;
                }
              }
              & > .description {
                --popup-triangle-size: 40px;
                line-height: 36px;
                font-size: 16px;
                font-weight: 500;
                color: #bababa;
                @media (min-width: 1024px) {
                  font-size: 18px;
                }
                & > .link {
                  text-decoration: none;
                  color: #4385F5;
                  transition: .2s ease-in;
                  cursor: pointer;
                  &:hover {
                    opacity: .8;
                  }
                }
                & > .more-button {
                  vertical-align: middle;
                  margin-left: 4px;
                  position: relative;
                  display: inline-block;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 6px solid #4385F5;
                  cursor: pointer;
                  &::before {
                    content: "";
                    margin-left: -8px;
                    margin-top: -11px;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                  }
                  & > .triangle {
                    position: absolute;
                    left: calc(50% - var(--popup-triangle-size) / 2);
                    width: var(--popup-triangle-size);
                    height: var(--popup-triangle-size);
                    border-radius: 3px;
                    transform: rotate(45deg) translate(-100%, -100%);
                    background-color: white;
                  }
                }
                & > .popup {
                  margin-top: 12px;
                  position: absolute;
                  z-index: 1;
                  left: 0;
                  right: 0;
                  display: grid;
                  column-gap: 16px;
                  grid-template-columns: 1fr auto;
                  align-items: start;
                  padding: 24px;
                  background-color: #ffffff;
                  border-radius: 3px;
                  @media (min-width: 1024px) {
                    margin-top: 0;
                  }
                  & > .description {
                    margin: 0;
                    & > h5 {
                      margin: 0;
                      line-height: 24px;
                      font-size: 20px;
                      font-weight: 500;
                      color: #333333;
                    }
                    & > h5 + p {
                      margin-top: 16px;
                    }
                    & > p {
                      margin: 8px 0 0;
                      line-height: 24px;
                      font-size: 18px;
                      font-weight: 400;
                      color: #333333;
                      &:nth-child(1) {
                        margin-top: 0;
                      }
                    }
                  }
                  & > .button {
                    display: flex;
                    place-items: center;
                    border: none;
                    background-color: transparent;
                    transition: .2s ease-in;
                    cursor: pointer;
                    &:hover {
                      opacity: .8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  & > .summit-lightning-talks-schedule {
    display: grid;
    grid-template-columns: var(--root-grid);
    & > .wrapper {
      grid-column: 2;
      display: grid;
      row-gap: 25px;
      align-items: center;
      padding: 80px var(--root-padding-x) 56px;
      & > .title {
        margin: 0;
        font-weight: 700;
        text-align: center;
        color: #333333;
        font-size: 30px;
        line-height: 35px;
        @media (min-width: 1024px) {
          font-size: 36px;
          line-height: 42px;
        }
      }
      & > .table {
        --column-gap: 3px;
        --grid-template-columns: 3fr 2fr;
        --cell-padding: 0;
        @media (min-width: 1024px) {
          --cell-padding: 16px;
        }
        & > .captions {
          display: none;
          @media (min-width: 1024px) {
            position: sticky;
            top: 0;
            display: grid;
            column-gap: var(--column-gap);
            grid-template-columns: var(--grid-template-columns);
            & > .cell {
              display: grid;
              align-items: center;
              padding-left: var(--cell-padding);
              padding-right: var(--cell-padding);
              line-height: 48px;
              font-size: 18px;
              font-weight: 700;
              color: #333333;
              background-color: #b2b2b2;
              & .prompt {
                font-size: 12px;
                font-style: italic;
              }
            }
          }
        }
        & > .row {
          margin-left: calc(var(--root-padding-x) * -1);
          margin-right: calc(var(--root-padding-x) * -1);
          display: grid;
          row-gap: 8px;
          padding: 16px;
          @media (min-width: 1024px) {
            margin-left: 0;
            margin-right: 0;
            column-gap: var(--column-gap);
            grid-template-columns: var(--grid-template-columns);
            padding: 19px 0;
          }
          &:nth-of-type(even) {
            background-color: #ffffff;
          }
          &:nth-of-type(odd) {
            background-color: #eaeaea;
          }
          & > .cell {
            display: grid;
            align-items: center;
            padding-left: var(--cell-padding);
            padding-right: var(--cell-padding);
            line-height: 24px;
            font-weight: 500;
            font-size: 16px;
            color: #333333;
            & > .caption {
              @media (min-width: 1024px) {
                display: none;
              }
            }
            & > .link {
              text-decoration: none;
              color: #4385F5;
              transition: .2s ease-in;
              cursor: pointer;
              &:hover {
                opacity: .8;
              }
            }
          }
        }
      }
    }
  }
  & > .summit-carusel {
    display: grid;
    grid-template-columns: var(--root-grid);
    & > .wrapper {
      position: relative;
      grid-column: 2;
      display: grid;
      row-gap: 25px;
      align-items: center;
      padding: 80px var(--root-padding-x) 56px;
      & > .title {
        margin: 0;
        font-weight: 700;
        text-align: center;
        color: #333333;
        font-size: 30px;
        line-height: 35px;
        @media (min-width: 1024px) {
          font-size: 36px;
          line-height: 42px;
        }
      }
      & > .button {
        justify-self: center;
        display: grid;
        place-content: center;
        width: 200px;
        height: 40px;
        font-size: 18px;
        font-weight: 500;
        color: #e3e3e3;
        background-color: #333333;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 110px;
        text-decoration: none;
        transition: .2s ease-in;
        @media (min-width: 1024px) {
          margin-top: 0;
        }
        &:hover {
          opacity: .8;
        }
      }
      & > .carousel {
        margin: 0 auto;
        width: 100%;
        max-width: 668px;
        outline: none;
        &:focus {
          outline: none;
        }
      }
      & .slider-list:focus,
      .slider-slide:focus,
      .slider-frame:focus {
        outline: none;
      }
      & .slider-control-centerleft {
        left: calc(50% - 50px) !important;
        top: calc(100% + 50px) !important;
        @media (min-width: 1024px) {
          top: 50% !important;
          left: -50px !important;
        }
      }
      & .slider-control-centerright {
        right: calc(50% - 50px) !important;
        top: calc(100% + 50px) !important;
        @media (min-width: 1024px) {
          top: 50% !important;
          right: -50px !important;
        }
      }
      & .slider-prev {
        display: block;
        transition: .2s ease-in;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
      }
      & .slider-next {
        display: block;
        transition: .2s ease-in;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
      }
      & .more-button {
        position: absolute;
        bottom: 0;
        left: calc(50% - 8px);
        transition: .2s ease-in;
        cursor: pointer;
        width: 16px;
        height: 10px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid #4385F5;
        &:hover {
          opacity: .8;
        }
      }
      & .slide {
        padding-bottom: 10px;
        & > h3, h4, p {
          margin: 0;
          color: #333333;
        }
        & > .slide-title {
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
          @media (min-width: 1024px) {
            font-size: 24px;
            line-height: 40px;
          }
        }
        & > .slide-subtitle {
          margin-top: 0;
          font-size: 18px;
          line-height: 34px;
          font-weight: 700;
          @media (min-width: 1024px) {
            margin-top: 5px;
          }
        }
        & > .slide-description {
          margin-top: 10px;
          font-size: 16px;
          line-height: 30px;
          @media (min-width: 1024px) {
            margin-top: 30px;
          }
        }
      }
      & > .popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 50px 14px 30px;
        background: white;
        cursor: default;
        border-radius: 3px;
        overflow: auto;
        @media (min-width: 1024px) {
          position: absolute;
          left: 50%;
          top: unset;
          bottom: 170px;
          max-width: 666px;
          padding: 30px;
          transform: translateX(-50%);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          overflow: visible;
        }
        & > .title {
          margin: 0;
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
          @media (min-width: 1024px) {
            padding-right: 30px;
            font-size: 24px;
            line-height: 24px;
          }
        }
        & > .description {
          margin-top: 13px;
          font-size: 16px;
          line-height: 30px;
          @media (min-width: 1024px) {
            margin-top: 17px;
            font-size: 18px;
            line-height: 24px;
          }
        }
        & > .close-button {
          position: absolute;
          top: 14px;
          right: 14px;
          width: 26px;
          height: 26px;
          padding: 0;
          border: none;
          cursor: pointer;
          background: none;
          transition: .2s ease-in;
          &:hover::before, &:hover::after {
            opacity: .8;
          }
          @media (min-width: 1024px) {
            top: 30px;
            right: 30px;
          }
        }
        & > .close-button::before, .close-button::after {
          content: "";
          display: block;
          width: 26px;
          height: 2px;
          position: absolute;
          background-color: #111010;
        }
        & > .close-button::before {
          transform: rotate(45deg);
        }
        & > .close-button::after {
          transform: rotate(-45deg);
        }
        & > .triangle {
          @media (min-width: 1024px) {
            position: absolute;
            left: calc(50% - 20px);
            bottom: -20px;
            width: 40px;
            height: 40px;
            border-radius: var(--border-radius);
            transform: rotate(45deg);
            background-color: white;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
  & > .summit-footer {
    display: grid;
    grid-template-columns: var(--root-grid);
    & > .wrapper {
      grid-column: 2;
      display: grid;
      place-items: center;
      height: 76px;
      padding-left: var(--root-padding-x);
      padding-right: var(--root-padding-x);
      & > .link {
        transition: .2s ease-in;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
        & > .logo {
          height: 32px;
        }
      }
    }
  }
}

@media #{$tablet} {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .toc {
    float: none !important;
  }
}

@media #{$tablet} {

}

@media #{$mobile} {

}

@media screen and (max-width: 413px) {
  .summit-speakers {
    & .summit-speakers-extra-container {
      .summit-speaker-card {
        width: 166px;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .summit-speakers {
    & .summit-speakers-extra-container {
      .summit-speaker-card {
        width: 140px;
      }
    }
  }
}
