$tablet: "screen and (max-width : 900px)";
$mobile: "screen and (max-width : 480px)";

.footer {
  padding: 96px 30px 61px 30px;
  max-width: 1015px;
  margin-left: auto;
  margin-right: auto;
  color: #b6b6b6;

  @media #{$tablet} {
    padding: 48px 15px 30px 15px;
  }

  .items {
    display: flex;
    justify-content: center;

    @media #{$tablet} {
      flex-wrap: wrap;
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      font-size: 16px;
      line-height: 20px;
      color: #b6b6b6;
      text-decoration: none;
      font-weight: 700;

      &:hover {
        color: rgb(146, 146, 146);
      }

      @media #{$tablet} {
        flex-direction: column;
        margin-bottom: 41px;
      }

      .icon {
        margin-right: 26px;
      }

      .title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: #909090;
      }
    }
  }

  .copyright {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;

    p {
      margin-top: 10px;
    }
  }
}
