$mobile: "screen and (max-width : 480px)";
$tablet: "screen and (max-width : 900px)";
$lg: "screen and (max-width : 1024px)";
$xl: "screen and (max-width : 1280px)";

.header-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to left, #3a52dd, #3d93ff);
  min-height: 49px;
}

.header {
  width: 100%;
  position: relative;
  padding: 18px 40px 0 40px;

  &.desktop {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  &.mobile {
    display: none;
  }

  @media #{$lg} {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }

  .row {
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
}

.select {
  margin-left: 40px;
  position: relative;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
  & > .button {
    appearance: none;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    &:hover {
      color: #5f4b0f;
    }
    &:focus {
      outline: none;
      &:focus-visible {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
      }
    }

    .triangle {
      background: no-repeat center url("../assets/arrow.svg");
      width: 10px;
      height: 16px;
      margin-left: 8px !important;

      &.is-shown {
        transform: rotate(180deg);
      }
    }
  }
  & > .list {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    display: block;
    box-shadow: 0px 1px 8px rgba(20, 26, 31, 0.2);
    padding: 20px;
    background: #fff;
    transition: all 0.2s ease-in;
    &:not(.is-shown) {
      visibility: hidden;
      opacity: 0;
    }
    &.is-shown {
      visibility: visible;
      opacity: 1;
      z-index: 10;
    }
    .item-title {
      font-weight: 700;
    }

    .items-list {
      margin-top: 0;
    }

    .item-link {
      list-style: none;
      margin-left: 0;
      margin-top: 20px;

      &:first-of-type {
        margin-top: 0;
      }

      @media (max-width: 640px) {
        font-size: 14px;
      }

      a {
        color: #1a1a1a;
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
        &:hover {
          color: #ffe100;
        }
      }

      .subitem-link {
        list-style: none;
        margin-left: 40px;
        margin-top: 20px;

        a {
          font-size: 14px !important;
        }
      }
    }

    & > .button {
      appearance: none;
      position: relative;
      display: block;
      padding: 6px;
      color: #000;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      text-align: left;
      background: none;
      border: none;
      cursor: pointer;
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      &:hover {
        color: #ffe100;
      }
      &:focus {
        outline: none;
        &:focus-visible {
          outline: 1px dotted;
          outline: 5px auto -webkit-focus-ring-color;
        }
      }
      &.selected {
        &::before {
          content: "";
          margin-top: -2px;
          position: absolute;
          left: 0;
          top: 50%;
          width: 4px;
          height: 4px;
          background: currentColor;
          border-radius: 50%;
        }
      }
    }
    & > strong {
      margin-bottom: 1ex;
      display: inline-block;
    }
    & > strong:not(:first-child) {
      margin-top: 1ex;
    }
    & > .menu-item {
      appearance: none;
      position: relative;
      display: block;
      color: #000;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      cursor: pointer;
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      &:hover {
        color: #ffe100;
      }
      &:focus {
        outline: none;
        &:focus-visible {
          outline: 1px dotted;
          outline: 5px auto -webkit-focus-ring-color;
        }
      }
    }
    & > .menu-item:not(:first-child) {
      margin-top: 20px;
    }
    & > .link {
      appearance: none;
      position: relative;
      display: block;
      padding: 6px;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 0;
      padding-left: 40px;
      transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      &:hover {
        color: #ffe100;
      }
      &:focus {
        outline: none;
        &:focus-visible {
          outline: 1px dotted;
          outline: 5px auto -webkit-focus-ring-color;
        }
      }
    }
  }
}

.menu-logo {
  width: 109.02px;
  height: 38px;
}

.header-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: pre;

  a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    strong {
      color: #000;
    }
    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #5f4b0f;
      strong {
        color: #444;
      }
    }
  }
}

button.callToAction,
a.callToAction {
  padding: 7px 15px;
  background: #0a53a5;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  &:hover {
    color: #fff;
    background: #07468f;
  }
}
button.contactUs,
a.contactUs {
  background: #674ea7;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  &:hover {
    color: #fff;
    background: #4b3680;
  }
}

.header.desktop .header-nav {
  flex-direction: row;

  > a {
    margin-left: 40px;

    &:first-child {
      margin-left: 20px;
    }
  }

  @media #{$lg} {
    a {
      margin-left: 30px;
    }
  }
}

.header.mobile .header-nav {
  margin-top: 10px;
  flex-direction: column;
  a:not(.link),
  button {
    margin-bottom: 15px;
  }
  a,
  span {
    margin-left: 0;
  }
}
